.zen-header {
  z-index: 100;
}
.zen-hero-home-content:before {
  height: 14.5rem;
}


article a.linkedin-button {
    display: block;
    position: absolute;
    background: url(//d1dz47xko52i1p.cloudfront.net/system/cms/files/101/files/original/linkedin-button-color-small.png) no-repeat;
    height: 40px;
    width: 40px;
    top: 26px;
}

.zen-social-linkedin {
background-position: 0 -98px;
  background-image: url(//d1dz47xko52i1p.cloudfront.net/assets/new/s/social-se411726c51-c9a78629e43af7045f79eb3cf3668edf.png);
width: 49px;
height: 49px;
text-indent: -119988px;
overflow: hidden;
text-align: left;
display: block;
}




.zen-bg-corkboard .row {
	padding-bottom: 0;
}



.zen-social-links.zen-social-links__sidebar {
  display: none;
  position: fixed;
  top: 122px;
  z-index: 100;
}

.zen-social-links.zen-social-links__sidebar li {
  position: relative;
  left: -10px;
  display: list-item;
  margin-left: 0;
  -webkit-transition: left .2s ease-in-out;
  -moz-transition: left .2s ease-in-out;
  -ms-transition: left .2s ease-in-out;
  -o-transition: left .2s ease-in-out;
  transition: left .2s ease-in-out;
}




.zen-social-links.zen-social-links__sidebar li:hover {
  left: 0;
  -webkit-transition: left .4s ease-in-out;
  -moz-transition: left .4s ease-in-out;
  -ms-transition: left .4s ease-in-out;
  -o-transition: left .4s ease-in-out;
  transition: left .4s ease-in-out;
}

@media (min-width: 1200px) {
  .zen-social-links.zen-social-links__sidebar {
    display: block;
  }
}

.zen-btn.zen-btn-download-chrome small {
  text-align: center;
}
#aboutUs {
    background-image: url(../img/Cork.jpg);
}


.zen-polaroids li header:before {
content: '';
display: block;
width: 50%;
height: 50%;
position: absolute;
top: -50px;
left: 70px;
background-image: url(../img/pin2.png);
background-repeat: no-repeat;
-webkit-transition: 0.2s 0.5s;
-moz-transition: 0.2s 0.5s;
-ms-transition: 0.2s 0.5s;
transition: 0.2s 0.5s;
}
