
#sectiuonMeInfo {
    justify-content: center;
    text-align: justify;
}

.hero-slider {
    height: 600px;
}

#Submit {
    align-content: center;
}

#crnPanel {
    visibility: hidden;
}

#countdown {
  padding-top: 40px;
  text-align: center;
  color: 	#343434;
  font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 5em;
  margin: 0 25%;
}




#CRN {
    height: 700px;
    padding-top: 300px;
    background-image: url(../img/crumpled-white-paper-texture-melemel-jpeg_260159.jpg);
    text-align: center;
    color: 	#343434;
}

#timer {
    background-color: #ededed;
    height: 380px;
}


#developersyahoo {
    background-image: url(../img/RcG9aE4cL.png);
    max-width: 500px;
    max-height: 200px;
}
